<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BitMiracle.LibTiff.NET" version="2.4.649" targetFramework="net461" />
  <package id="EMGU.CV" version="4.1.1.3497" targetFramework="net40-client" />
  <package id="IronOcr" version="2023.1.11644" targetFramework="net461" />
  <package id="IronOcr.Languages.MiddleEnglish" version="2020.11.2" targetFramework="net461" />
  <package id="IronOcr.Languages.Russian" version="2020.11.2" targetFramework="net40-client" />
  <package id="IronSoftware.System.Drawing" version="2023.1.11379" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.0" targetFramework="net461" />
  <package id="SixLabors.ImageSharp" version="2.1.3" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net461" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net40-client" />
</packages>